.comm_filter_radio{
  height: 42px;
  background: white;
  line-height: 42px;
  color: #666;
  span{
    display: inline-block;
    margin: 0 5px;
  }
  .radio_disabled{
    color: #ccc !important;
  }
  .radio_active{
    color: rgba(65, 144, 247);
    
  }
  
}

.comm_filter_checkbox{
  height: 42px;
  background: white;
  line-height: 42px;
  color: #666;
  span{
    display: inline-block;
    margin: 0 5px;
  }
  .checkbox_disabled{
    color: #ccc !important;
  }
  .checkbox_active{
    color: rgba(65, 144, 247);
    
  }
  
}
.comm_widget_tooltip{
  background: white;
  height: 42px;

}